*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 300px;
    height: 520px;
    margin: auto;
    margin-top: 100px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.881);
    box-shadow: 1px 1px 5px;
    overflow: hidden;
}
.container2{
    margin-top: 20px;
    backdrop-filter: blur(30px);
    
}

.calculator-bar{
    width: 270px;
    height: 100px;
    font-size: 30px;
    margin-top: 10px;
    padding-left: 5px;
    padding-top: 5px;
    margin-left: 13px;
    border-radius: 16px;
    background-color: rgb(240, 245, 246);
    backdrop-filter: blur(30px);
    
    
}

.calculator-bar2{
    position: relative;
    width: 270px;
    height: 360px;
    margin: auto;
    margin-top: 10px;
    border: solid 2px black;
    border-radius: 16px;

}

.first-line{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 5px;
    margin-left: 10px;
}

.first-line .box , .box{
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 25px;
}

.aside{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 20px;
    margin-right: 10px;
    gap: 15px;
}
.calsi-part{
    margin-top: 20px;
    
}

input[type="number"]{
    width: 250px;
   margin-left: 5px;
   margin-top: 40px;
   height: 50px;
   /* border: none; */
   font-size: 30px;
}

#test{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

button{
    background-color: rgba(211, 211, 211, 0.799);
    
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;


}