body {
    font-family: Arial, sans-serif;
    background: #f0f8ff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #0077b6;
  }
  
  input {
    width:80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background: #0077b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  button:hover {
    background: #005f8f;
  }
  
  #location, #temperature, #weather-description {
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  #location {
    font-size: 1.5em;
    font-weight: bold;
  }
  img{
    width: 50%;
    height: 20%;
  }