* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-63452.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 5rem;
    padding: 16px;
}
.container{
    width: 500px;
    background-color: rgb(0, 174, 255);
    padding: 16px;
    margin: 0 auto;
    border-radius: 16px;
    font-weight: bold;
    box-shadow:inset  1px 1px 5px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header h1{
    font-size: 3rem;
}
#newGame {
    width: 130px;
    height: 50px;
    border: none;
    background-color: whitesmoke;
    font-size: 1rem;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow:inset  1px 1px 5px ;
    
}
#newGame:hover{
    background-color: lightgreen;
    color: white;
}
.score-container{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
#score{
    font-size: 1.5rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
}
.square{
    font-size: 2rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow:inset  1px 1px 3px;
}
.square-2{
    background-color: #eee4da;
}
.square-4{
    background-color: #b8b1a6;
}
.square-8{
    background-color: #eb9041;
}
.square-16{
    background-color: #9cff1c;
}
.square-32{
    background-color: #cef036;
}
.square-64 {
    background-color: #2af018;
}
.square-128{
    background-color: #f3ba10;
}
.square-256{
    background-color: #eec12e;
}
.square-512{
    background-color: #ddab08;
}
.square-1024{
    background-color: #f8bf04;
}
.square-2048{
    background-color: #e4b007;
}





/* @media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 8px;
        margin: 0 10px;
    }
    
    .board{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
    .square{
        height: 100px;
        font-size: 1.5rem;
    }
    
    h1 {
        font-size: 2.5rem;
    }
    #newGame{
        width: 100px;
        height: 40px;
        font-size: 0.9rem;
    }
    
    .header h1{
        font-size: 2rem;
    }
    
    #score{
        font-size: 1.2rem;
    }
} */
