*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

main{
    width: 400px;
    height: 400px;
    border: 1px solid rgba(255, 255, 255, 0.226); 
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0, 0, 0 , 1.0);
    background: rgba(255, 255, 255, 0.13);
    overflow: hidden;

}
h1{
    padding: 10px 0;
    background-color: royalblue;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: white;

}

input{
    padding: 10px 10px;
    background: transparent;
    font-weight: bold;
    border: none;
    
}
.input-get{
    display: flex;
    border: 2px solid royalblue;
    border-radius: 5px;
    overflow: hidden;
}

#btn{
    background-color: rgba(153, 85, 216, 0.877);
    color: white;
    width: 60px;
    padding: 11px 5px;
    font-weight: bold;
}

img{
    width: 100px;
    height: 100px;
}

.weather-details{
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    align-items: center;
}

#Location-name{
    font-size: 20px;
    padding: 10px 0;

}

#temp{
    font-size: 50px;
    font-weight: 800;
    padding: 10px 0;

}

#weather-dec{
    font-size: 20px;
    padding: 6px 0;
}