*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 100px;
    background-color: rgba(211, 211, 211, 0.336);
    padding: 0px 500px;

}

.left-aside{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-bottom: 200px;

}

.left-aside h1{
    font-size: 60px;
    color:rgb(9, 116, 255);
    font-weight: bold;
}
.left-aside p{
    font-size: 30px;
    
}

form{
    width: 400px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px rgb(226, 216, 216);
    padding: 0px 20px;
    text-align: center;
    background-color: white;

}

input[type="email"],
input[type="password"]{
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid lightgray;
    padding-left: 16px ;
    font-weight: bold;
}

#loginbtn{
    width: 100%;
    height: 55px;
    background-color: rgb(9, 116, 255);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    margin-bottom: 20px;
    cursor: pointer;
}

#loginbtn:hover{
    background-color: rgba(9, 116, 255, 0.911) ;
}

#createNewbtn{
    width: 70%;
    height: 40px;
    background-color: rgb(115, 182, 14);
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    border: none;    
    margin-top: 20px ;
    cursor: pointer;

}
#createNewbtn:hover{
    background-color:rgb(121, 172, 45) ;
}

form a{
    padding: 20px 0px;
    color: rgb(9, 116, 255);
    text-decoration: none;
}

form a:hover{
    text-decoration: underline;
}

.right-aside p{
    padding: 30px 0px;
    
    
}

.right-aside p a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.right-aside p a:hover{
    text-decoration: underline;
}


@media (max-width:768px) {
    .container{
        flex-direction: column;
        gap: 50px;
        margin: 0;
        padding: 0;
    }
    .left-aside{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 100px;
    }
    .left-aside h1{
        font-size: 60px;
    }
    .left-aside p{
        font-size: 20px;
    }
}