*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header , footer{
    padding: 8px 16px;
    text-align: center;

}


