@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
section{
    width: 100vw;
    height: 100vh;
    position: relative;
}

#page1{
    background-color: #1f232d;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 16px 200px;
    background-color:  #1f232d;
    position: sticky;
    top: 0%;
    z-index: 1000;
}
nav h1{
    font-size: 30px;
}

nav ul{
    display: flex;
    gap: 35px;
}
ul li{
    list-style: none;
}

/* nav ul li{
    list-style-type: none;
    
} */
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(0, 191, 255);
}
.name{
    font-size: 2.5rem;
    font-weight: bold;
}

.social-media{
    display: flex;
    gap: 10px;
}

.social-media img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white ;
}

.social-media img:hover{
    box-shadow: 1px 1px 8px 3px rgb(0, 191, 255);
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: auto;
    gap: 400px;
    padding: 150px 200px;
   
}


.left-container h1 , span , p  , button{
    margin: 16px 0px;
}
.left-container h1{
    font-size: 1.5rem;
}

.profile-image{
    width: 500px;
    height: 500px;
    border-radius: 50%;
   
}
#downloadCv , #readMore ,#sendMessage{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    background-color: rgb(0, 191, 255);
    box-shadow: 1px 1px 8px 3px rgb(0, 191, 255);

}


#downloadCv:hover ,#readMore:hover ,#sendMessage:hover{
    box-shadow: none;
    cursor: pointer;
}

#page2{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    justify-content: center;
    align-items: center;
    background-color: #1f232de0;
}
#page2 > .left-container{
    text-align: center;
}
#page2 > .right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 60px;
}
#page2 > .right-container h1{
    font-size: 2rem;
}
#page2 > .right-container h1 span{
    color: rgb(0, 191, 255);
}



#page3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #212b42;
    color: white;
}
#page3 span{
    font-size: 4rem;
    padding: 30px;
}

.card > h1{
    font-size: 2rem;
    font-weight: bold;
}

#page3 > .cards{
    display: flex;
    gap: 20px;
    padding: 0px 200px;

}

#page3 > .cards > .card{
    width: 400px;
    height: 450px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.075);
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#page3 > .cards > .card:hover{
    transform: scale(1.1);
    border: 2px solid rgb(0, 191, 255);
    
}

/* All Span */
.skyblue{
    color: rgb(0, 191, 255);
}



.typing{
    display: flex;
    gap: 16px;
}

.typewriter p {
    font-family: monospace;
    font-size: 35px;
    display: inline-block;
    border-right: 3px solid black; /* Cursor effect */
    white-space: nowrap;
    overflow: hidden;
    color: rgb(0, 191, 255);
    font-weight: bold;
  }
  
  .blinking-cursor {
    animation: blink-caret 0.75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(0, 191, 255); }
  }










#page5{
    background-color:  #212b42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.details{
    width: 800px;
    display: flex;
    gap: 10px;
    height: auto;

}
#page5 h1{
    font-size: 2.5rem;
    padding: 16px;
}

  input[type="text"],
  input[type="number"],
  input[type="email"]{
    width: 100%;
    height: 40px;
    gap: 10px;
    margin-bottom: 10px;
    padding-left: 16px;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 5px;
    color: white;
}

input[type="para"]{
    width: 100%;
    padding-bottom: 300px;
    padding-left: 16px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 5px;
    color: white;
}


@media (max-width:700px) {
    .details{
        width: 100%;
        margin: 10px;
        flex-direction: column;
    }
    input[type="para"]{
        width: 100%;
        margin: 10px;
    }
}