*{
  font-family: Arial, Helvetica, sans-serif;
}


.Layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px auto 1fr 70px;
  grid-template-areas: "Header Header"
                        "LeftAside RightLeftAside"
                        "Main Main"
                        "Footer Footer";
  margin: 0 300px;
  box-shadow: 2px 4px 10px;
  
    
}

.Layout > div{
  padding: 10px;
}


.Header{
  grid-area: Header;
}
.LeftAside{
  grid-area: LeftAside;
  
}
.RightLeftAside{
  grid-area: RightLeftAside;
  margin: 5px;
  
}
.Main{
  grid-area: Main;
  padding: 4px;
}
.Footer{
  grid-area: Footer;
}





@media (max-width: 1080px){
  .Layout {
    grid-template-areas: 
      "Header"
      "LeftAside"
      "RightAside"
      "Main"
      "Footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0 0;
  }
  .Layout > div{
    margin: 0 0;
  }
  
}


::-webkit-scrollbar {
  display: none;
}